@import "tailwindcss";

@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "GreatVibes";
  src: url("assets/fonts/GreatVibes-Regular.woff2") format("woff2");
  font-display: swap;
}

@theme {
  --background-image-hero: url("./assets/images/title_screen.webp");
  --background-image-table: radial-gradient(circle at 50% 50%, #1a2f24 0%, #0a130f 100%);
  --color-primary: #0f5132;
  --color-secondary: #d4af37;
  --color-tertiary: #198754;
  --color-neutral: #f8f9fa;
}
